body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

/* header */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: orchid;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header nav ul {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0;
  list-style: none;
  margin: 0;
}

header nav ul li a {
  text-decoration: none;
  color: black;
  padding: 5px 15px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 5px;
}

header nav ul li a.active {
  color: white;
  background: fuchsia;
  border-radius: 5px;
}

@media (max-width: 768px) {
  header nav ul {
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  header nav ul li a span {
    display: none;
  }
  header nav ul li a.active span {
    display: inline;
  }
}

/* sections */

section {
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#wedding {
  background: url("assets/bg.jpg") no-repeat fixed center;
  background-size: cover;
}

#wedding .banner {
  background-color: rgba(255, 255, 255, 0.3);
  rotate: -15deg;
  width: 300%;
  margin: 0;
}

#wedding .banner p {
  color: white;
  margin: 0;
  font-size: 13vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#venue {
  background: #f9f9f9;
}

#venue div.flexContainer {
  width: 99%;
  gap: 10px;
}

#venue div.flex {
  border: 1px solid black;
}

#housing {
  background: #dfe4ea;
}

#housing div.flexContainer {
  width: 99%;
  gap: 10px;
}

#housing div.flex {
  border: 1px solid black;
}

#info {
  background: #ced6e0;
}

#rsvp {
  background: #a4b0be;
}

#photos {
  background: #747d8c;
  color: white;
}

#music {
  background: #57606f;
  color: white;
}

/* shared */

.flexContainer {
  display: flex;
  flex-wrap: wrap;
}

.flex {
  flex: 1;
}
