body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

main {
  scroll-snap-type: y mandatory; 
}

/* header */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(200, 100, 200, 0.4);
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header nav ul {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0;
  list-style: none;
  margin: 0;
}

header nav ul li a {
  text-decoration: none;
  color: black;
  padding: 5px 15px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 5px;
}

header nav ul {
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

header nav ul li a span {
  display: none;
}

header nav ul li a.active span {
  display: inline;
}

header nav ul li a.active {
  color: white;
  background: darkmagenta;
  border-radius: 5px;
}

@media (min-width: 768px) {
  header nav ul {
    flex-wrap: wrap;
  }
  
  header nav ul li a span {
    display: inline;
  }
}

/* sections */

section {
  scroll-snap-align: center; 
  min-height: 80vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

section h1 {
  font-size: xx-large;
  font-style: italic;
  color: #702963;
}

#wedding {
  height: 100vh;
  background: url("assets/bg.jpg") no-repeat fixed;
  background-position: 70% 50%; 
  background-size: cover;
  overflow: hidden;
}

#venue {
  background-image: url('assets/wedding.jpg');
  background-size: 60%;
  background-repeat: repeat;
  background-position: center;
  background-attachment: fixed;
  background-color: #E8D6D2;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  z-index: 1;
}

#venue .flexContainer {
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 800px;
}

#venue div.flex {
  background-color: rgba(255, 255, 255, 0.85);
  border: 1px solid gray;
  color: black;
}

#map {
  padding: 0;
}

#housing {
  background: white;
}

#housing img {
  max-width: 90%;
}

#info {
  background: #ced6e0;
}

#rsvp {
  background: url("assets/osa.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
  background-color: #E8D6D2;
  height: 80vh;

  justify-content: flex-start;
  padding-top: 10vh;
}

#toastmasters img {
  max-width: 50%;
  border-radius: 10px;
}

#photos {
  background: #747d8c;
  color: white;
}

#music {
  background: #57606f;
  color: white;
}

section#end {
  height: 10px;
  min-height: 10px;
  background-color: black;
}

/* animations */

#wedding .banner.fade-in {
  background-color: rgba(200, 100, 200, 0.4);
}

#wedding .banner {
  opacity: 1;
  background-color: transparent;
  padding: 10px;
  transition: background-color 2s ease-in-out;

  rotate: -15deg;
  width: 300%;
  margin: 0;
  margin-top: 35vh;

  color: white;
  font-size: 13vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media (min-width: 768px) {
  #wedding .banner {
    font-size: 100px;
  }
}

/* shared */

a {
  color: darkmagenta;
}

a:visited {
  color: darkmagenta;
}

a:hover {
  color: rgba(200, 100, 200, 0.4);
}

.left {
  text-align: left;
}

.bottom {
  position: relative;
  bottom: 10px;
}

.margin-top {
  margin-top: 30px;
}

.flexContainer {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory; 
  gap: 16px; 
  max-width: 100%;
}

.flex {
  flex: 0 0 90%; 
  scroll-snap-align: center; 
  border: 0;
  padding: 16px;
  box-sizing: border-box;
  background: rgba(200, 100, 200, 0.4);
  border-radius: 15px;
}

@media (min-width: 768px) {
  .flexContainer {
    overflow: visible; 
    gap: 24px; 
    justify-content: space-between; 
  }

  .flex {
    flex: 1; 
  }

  .flexContainer {
    flex-wrap: wrap;
  }
}